body
{
	background-color:  #CCCCFF;
	font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}
#controlBtn{
    display: inline-block;
}
button
{
	font-weight: bold;
	font-size: 12pt;
}
textarea{
    width: 90%;
    height: 400px;
    font-size: 12pt;
}
select
{
	font-weight: bold;
	font-size: 12pt;
}

h1
{
    font-size: 32pt;
}

fieldset
{
    float: left;
    border: 2pt;
    border-style: solid;
    font-weight: bold;
    text-align: center;
}
#validator{
    float: right;
}