/* reset margin, padding */
body{
    background: url('images/background.gif');
    margin-left: 10%;
    margin-right: 10%;
}

#container{
    border: 10px solid white;
    background:white;
}
#headline{
    /*border: 5px solid red;*/
    text-align: right;
    background: #A8F0F0;
}
#headline .sub{
    /*border: 5px solid orange;*/
    margin-bottom: 5px;
    font-size: 14pt;
}
#content .item{
    border: 4px solid #C2E9E9;
    background: #E8FBFB;
    padding:5px;
    margin-top: 10px;
    overflow: auto;
    border-radius: 15px;
}
img {
    float: right;
    margin: 0 0 1em 1em;
}
.clear{
    float: left;
    clear: both;
}
.date{
    text-decoration: underline;
    text-decoration-style: dashed;
}
nav {
    border: 4px solid #C2E9E9;
    float: left;
    width: 18%;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 15px;
    padding:10px;
    background: #E8FBFB;
}
section {
    margin-left: 22%;
    min-height: 500px;
    
  }